{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rookie Chef</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/Confirmation.js' %}" defer></script>
</head>
<body>
    <header class="transparent-header">
        <nav>
            <ul>
                <li><a href="{% url 'webkiosk:home' %}">Home</a></li>
                <li><a href="{% url 'webkiosk:products'%}">Products</a></li>
                <li><a href="{% url 'webkiosk:cart'%}">Cart</a></li>
                <li><a href="{% url 'webkiosk:aboutus'%}">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="background"></div>

    <div class="cart-container">
        <div class="cart-summary">
            <div id="cart-items"></div>
            <div id="cart-total"></div>
        </div>

        <button type="button" id="home-btn" class="checkout-btn">Confirm</button>

    </body>
    </html>